VITE_SUPABASE_URL=https://hmoqlhywedugrrirtuwd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhtb3FsaHl3ZWR1Z3JyaXJ0dXdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMDc5MDYsImV4cCI6MjA4NzY4MzkwNn0.TthyDokjm1gBgx5jSODoJHqQW_xeepJ3uBQ5FpTPIg4
VITE_WHATSAPP_NUMBER=919999999999

